<div class="resume">
    <div class="personalInfo">
      <h1>Aabharan Koppal</h1>
      <address>750 Shipyard Drive<br>Edison, NJ (732) 983-2070<br>aabharan.koppal@email.com <br> www.linkedin.com/in/aabharan-koppal-9b374715b <br>https://github.com/ask183 </address>
    </div>
    
    <div class="summary">
      <h2>Summary</h2>
      <p>
        <li>Highly experienced, meticulous solutions-oriented professional with sharp analytic thinking skills, outstanding problem-solving skills, excellent computer fundamental skills, and a very strong background working as a Java developer who is enthusiastic to learn and to utilize new technologies. Coming with experience in all phases of software development life cycle (SDLC), including requirements gathering documentation, use casing, data validity, functional specification, Service interaction in SOA, testing with Junit, and Agile methodology.</li>
         <li>Passion working with other developers, engineers, and clients to understand their scenarios and business drivers and to deliver their needs.</li>
         <li>Strong work ethic, taking ownership of all duties and responsibilities and meeting management objectives.</li>
        
      </p>
    </div>

    <div class="skills">
      <h2>Skills</h2>

        <li>Programming languages: Java; JavaScript; TypeScript; Python; HTML; CSS; C; C#; PHP</li>
         <li>Frameworks & Libraries: Spring; Spring Boot; Hibernate; Junit-Mockito; .NET; ASP.NET; Angular 8; Express.js; Bootstrap; React; jQuery </li>
         <li>Databases: SQL (MySQL, Oracle, Microsoft SQL Server); MySQL Workbench; NoSQL (MongoDB) </li>
         <li>Cloud Computing: Amazon Web Services; AWS EC2; AWS Lambda; Microsoft Azure</li>
         <li>DevOps: Git; GitHub; Bitbucket; Postman; Docker; Kubernetes; Junit; TestNG; Jenkins; CI/CD; JIRA; Ant; Maven</li>
         <li>Tools: Microsoft Office Tools; Visual Studio; Visual Studio Code; Eclipse; Apache NetBeans; Node.js; JEE; Swagger; phpMyAdmin; XAMPP; SOA; JSON; XML; REST; MVC; Spring MVC; DAO; Design Patterns; API’s; Microservices; Android Studio; Apache Tomcat Server; JDBC; JDK; Kanban; Linux; SpringToolSuite; IoC; TDD; Android Studio; AJAX; Scrum; Apache Kafka, JIRA, PyCharm CE</li>

    </div>
    
    <div class="education">
      <h2>Education</h2>
      <p>Rutgers, The State University of New Jersey<span class="educationDates">09/2016 - 08/2021</span><br />
        •	Bachelor’s Degree (3.092 GPA)
        • Major in Computer Science and Minor in Mathematics.

      </p>
    </div>
    
    <div class="experience">
      <h2>Experience</h2>
      <p>Apprentice Now, Java Mentor  <span class="employmentDates">06/2021 - 09/2022</span></p>
       <ul>
         <li>Worked as an enterprise software development mentor, teaching and instructing highly regarded apprentices for object-oriented software programming in Java and C#.</li>
         <li>Used application and website development frameworks including Spring, Spring Boot, Spring MVC, .NET, ASP.NET, Express.js, Angular, and Bootstrap for the front-end, backend including SQL and NoSQL, relational and non-relational databases including MySQL, Microsoft SQL Server, and MongoDB, server-side technology including REST & Web API’s and Spring ORM Module, client-side technology including HTML, CSS, and JavaScript with React and jQuery as libraries, services including Microservices, SOA, and JMS, cloud computing platforms including Amazon Web Services and Microsoft Azure, DevOps tools including Git, GitHub, Docker, Kubernetes, Jenkins, and Azure DevOps, design patterns, computer fundamentals for IT professionals, and many other tools and technologies.</li>
         <li>Hands-on experience working with the Java intensive cohorts that contained up to 40 apprentices over an 8-week course training duration and providing a verified certificate of achievement for work-based learning.</li>
       </ul>
    </div>

    <div class="courses">
      <h2>Certifications and Related Courses</h2>
      <p>Mthree Certification, Java Full Stack Web Development Bootcamp  <span class="employmentDates">01/2022 - 02/2022</span></p>
       <ul>
         <li>Those in possession of this certificate have successfully completed 720 hours of coursework and are prepared to pursue a professional career as a junior-level Java developer. Topics covered include but are not limited to the following: Classes and Objects, Consuming and Creating REST Web Services, Data and Class Modeling, Database Basics, Database Interaction, Data Driven Web Apps, Encoding and Decoding, Enums, Error Handling, Full Stack Web Development, Java Basics, Networking, Object-Oriented Programming, Unit Testing, Web App Security, and many other tools and programming languages.</li>
       </ul>

       <p>Apprentice Now Certification, Apprenticeship Program   <span class="employmentDates">01/2021 - 03/2021</span></p>
       <ul>
         <li>Intensive programming in core java and rigorous training for software programming, application development, computer fundamentals, backend- server-side tech, frameworks, client-side tech, UI, web services, dev ops, and career skills.</li>
       </ul>

       <p>Coursera, Object Oriented Programming - Data Structures and Beyond Specialization  <span class="employmentDates">04/2020</span></p>
       <ul>
         <li>Developed skills to critically evaluate my own code and effective communication skills. And further improved my knowledge of algorithms and data structures.</li>
       </ul>

       <p>Edx Certification, Python for Data Science   <span class="employmentDates">04/2020</span></p>
       <ul>
         <li>Topics covered include but are not limited to the following: Python, Jupyter notebooks, pandas, NumPy, Matplotlib, git, scikit-learn, NLTK, and many other tools.</li>
       </ul>
    </div>
  
  </div>
